---
layout: default
title: Home
subtheme: sub-theme-simple-page
---

<section class="section">
    <h1 class="title gradient-text">Quote of the day</h1>
    <div class="container">
    <div class="box">
        <div class="random-quote-container">
            <p class="title is-italic quote-content">
                The best way
                to have a good idea is
                to have a lot of ideas.
            </p>
            <p class="subtitle quote-author">Linus Pauling (1901 – 1994, American chemist, author and educator)</p>
        </div>
    </div>
    </div>
</section>

<section class="section">
    <h1 class="title gradient-text">Recent Posts</h1>

    <div class="container box">
        <div class="content">


            {% for post in site.posts offset:1 limit:2 %}
            {% include postbox.html %}
            {% endfor %}

        </div>
    </div>
</section>
