{% if paginator.total_pages > 1 %}
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if paginator.previous_page %}
    <a class="pagination-previous" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="pagination-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page</a>
    {% endif %}
    <ul class="pagination-list">
      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <li><a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a></li>
      {% elsif page == 1 %}
      <li><a class="pagination-link" aria-label="Goto page {{ page }}" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
      <li><a class="pagination-link" aria-label="Goto page {{ page }}" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
