<!-- begin post -->
{% assign author = site.authors[post.author] %}

<article class="media">
    <figure class="media-left">
        <a href="{{ site.baseurl }}{{ post.url }}">
        <p class="image is-64x64">
            <img src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
        </p>
        </a>
    </figure>
    <div class="media-content">
        <div class="content">
            <a href="{{ site.baseurl }}{{ post.url }}">
                <p>
                    <strong>{{ post.title }}</strong> <small>{{ post.date | date_to_string }}</small>
                    <br>
                    {{ post.excerpt | strip_html | truncatewords:30 }}
                </p>
            </a>

        </div>
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="field is-grouped is-grouped-multiline">
                    {% for tag in post.tags %}
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link" href="/tag/{{ tag }}">{{ tag }}</a>
                            <span class="tag">
                            <span class="icon">
                                <i class="fas fa-tag"></i>
                            </span>
                    </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </nav>



    </div>
<!--    TODO: add bookmark-->
<!--    <div class="media-right">-->
<!--        <button class="delete"></button>-->
<!--    </div>-->
</article>