<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="item postbox-item">
    <div class="image">
        <a href="{{ site.baseurl }}{{ post.url }}" class="ui image fluid">
            {% if post.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
            {% else %}
            <img src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
            {% endif %}

            {% endif %}
        </a>
    </div>
    <div class="content">
        <a class="header" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="meta">
            <span>{{ post.date | date_to_string }}</span>
        </div>
        <div class="description">
            <p>{{ post.excerpt | strip_html | truncatewords:30 }}</p>
        </div>
        <div class="extra">
            {% for tag in post.tags %}
            <div class="ui label">
                <i class="tag icon"></i> <a href="/tag/{{ tag }}">{{ tag }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- end post -->