---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
//@import "vendor/fomantic-ui/stylesheets/semantic-ui.scss";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "syntax";
@import "starsnonscss";
@import "source-code-block";
@import "premonition";
@import "rainbow";

$themes: (
	dark: (
					primary: white,
					secondary: grey,
					primary-bg-color: black,
					secondary-bg-color: #222
	),
	light: (
					primary: #4287f5,
					secondary: #666666,
					primary-bg-color: white,
					secondary-bg-color: white
	)
);

$sub-themes: (
		java: (
						primary: rgba(144, 30, 193, 1),
						secondary: rgb(107, 73, 238),
						text-on-gradient-color: white,
						gradient: linear-gradient(to right, rgba(144, 30, 193, 1) 0%, rgb(107, 73, 238) 51%, rgba(144, 30, 193, 1) 100%)
		),
		git: (
						primary: rgba(144, 30, 193, 1),
						secondary: rgb(107, 73, 238),
						text-on-gradient-color: white,
						gradient: linear-gradient(to right, rgba(144, 30, 193, 1) 0%, rgb(107, 73, 238) 51%, rgba(144, 30, 193, 1) 100%)
		),
		concept: (
						primary: rgba(144, 30, 193, 1),
						secondary: rgb(107, 73, 238),
						text-on-gradient-color: white,
						gradient: linear-gradient(to right,#051937, #004d7a, #008793, #00bf72, #a8eb12)
		),
		docker: (
						primary: rgba(144, 30, 193, 1),
						secondary: rgb(107, 73, 238),
						text-on-gradient-color: white,
						gradient: linear-gradient(to right,#051937, #004d7a, #008793, #00bf72, #a8eb12)
		),
		simple-page: (
						primary: rgba(144, 30, 193, 1),
						secondary: rgb(107, 73, 238),
						text-on-gradient-color: white,
						gradient: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%)
		),
		oss: (
						primary: rgba(144, 30, 193, 1),
						secondary: rgb(107, 73, 238),
						text-on-gradient-color: white,
						gradient: linear-gradient(90deg, #9ebd13 0%, #008552 100%)
		),
		error: (
			primary: rgba(144, 30, 193, 1),
			secondary: rgb(107, 73, 238),
			text-on-gradient-color: white,
			gradient: linear-gradient(90deg, #9ebd13 0%, #008552 100%)
		)
);

@mixin theme($themes: $themes) {
	@each $theme, $colors in $themes {
		.theme-#{$theme} & {
			@content($colors);
		}
	}
}

@mixin sub-theme($themes: $sub-themes) {
	@each $theme, $colors in $themes {
		.sub-theme-#{$theme} & {
			@content($colors);
		}
	}
}

.gradient-bg {
	@include sub-theme using ($colors) {
		background: map-get($colors, gradient) !important;
		color: map-get($colors, text-on-gradient-color);
	}

	//background: linear-gradient(to right, rgba(144, 30, 193, 1) 0%, rgb(107, 73, 238) 51%, rgba(144, 30, 193, 1) 100%);
	background-size: 200% auto;
	position: relative;
}

.gradient-text {
	@include sub-theme using ($colors) {
		background-image: map-get($colors, gradient);
	}

	//background-image: linear-gradient(to right, rgba(144, 30, 193, 1) 0%, rgb(107, 73, 238) 51%, rgba(144, 30, 193, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


body {
	@include theme using ($colors) {
		//TODO: uncomment this but this break the rainbow animation
		background: map-get($colors, primary-bg-color);
		color: map-get($colors, primary);
	}
}

.btn-gradiant {
		background-image: linear-gradient(to right, #901ec1 0%, #7450fe 51%, #901ec1 100%);
		-webkit-transition: all 500ms;
		transition: all 500ms;
		background-size: 200% auto;
		color: #fff !important;
}

.separator-line {
	text-align: center;
	padding: 15px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.18);
	width:80%;
	margin: 30px auto auto;
}

.box.inverted {
	@include theme using ($colors) {
		background: map-get($colors, secondary-bg-color);
		//color:  map-get($colors, primary);
	}
}

.logo.inverted {
	filter: invert(100%);
}


/*======================
 Fix footer position
 source: https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
=======================*/
body {
	height: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

footer {
	margin-top:auto;
}
/*======================
   Page template
=======================*/
.article-post {
	@include theme using ($colors) {
		color: map-get($colors, primary);
	}
}

/*======================
    Footer
=======================*/
.footer {
	background-size: 200% auto;
	position: relative;
	width:100%;
	padding-top: 220px;
	bottom: 0;

	@include sub-theme using ($colors) {
		background: map-get($colors, gradient);
		color: map-get($colors, text-on-gradient-color);
	}
}

//.footer-bottom > p {
//	padding-bottom:20px;
//}


.footer-top
{
	left:0;
	@include theme using ($colors) {
		background-color: map-get($colors, primary-bg-color);
	}

	-webkit-mask: url(../theme/footer-top.svg) no-repeat 100% 100%;
	mask: url(../theme/footer-top.svg) no-repeat 100% 100%;
	-webkit-mask-size: cover;
	mask-size: cover;


	//background-image: url(../theme/footer-top.svg);
	background-size: 100% 204px;
	top: 0;
	height: 180px;
	z-index: 1;
	margin-top: -1px;
	position: absolute;
	width: 100%;
	pointer-events: none;
	transform: rotate(180deg);
}

/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404 img{ width:100%;}

.four_zero_four_bg{

	background-image: url(./../theme/404.gif);
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
}


.four_zero_four_bg h1{
	font-size:80px;
}

.link_404{
	color: #fff!important;
	padding: 10px 20px;
	background: #39ac31;
	margin: 20px 0;
	display: inline-block;}
.contant_box_404{ margin-top:-50px;}

.text-centered {
	text-align:center;
}

///*animate the background gradient position, use vh so that start/end syncs up viewport horizontal*/
//@keyframes rainbow {
//	from {background-position: -100vh 0}
//	to {background-position: 100vh 0}
//}
//
///*compatibility*/
//@-moz-keyframes rainbow {
//	from {background-position: -100vh 0}
//	to {background-position: 100vh 0}
//}
//@-webkit-keyframes rainbow {
//	from {background-position: -100vh 0}
//	to {background-position: 100vh 0}
//}
//@-ms-keyframes rainbow {
//	from {background-position: -100vh 0}
//	to {background-position: 100vh 0}
//}
//@-o-keyframes rainbow {
//	from {background-position: -100vh 0}
//	to {background-position: 100vh 0}
//}
//
//.rainbow {
//	border: double 0.3em transparent;
//	border-radius: 200px;
//	/*added a colourstop here, without the third colourstop you get a hard edge*/
//	background: linear-gradient(white, white),
//	repeating-linear-gradient(to right,#051937, #004d7a, #008793, #00bf72, #a8eb12)
//	background-origin: border-box;
//	background-clip: content-box, border-box;
//
//
//	animation-name: rainbow;
//	animation-duration:  2s;
//
//	/*set animation to continue forever, and to move at a single rate instead of easing*/
//	animation-iteration-count: infinite;
//	animation-timing-function: linear;
//}