---
layout: default
archive: false
post_class: post-template
---
<section class="section columns">
    <div class="container column is-8">
        <div class="content">
            <h1 class="title gradient-text">{{ page.title }}</h1>
            <figure class="image is-3by1">
                <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}"/>
            </figure>
            {{ content }}
        </div>
    </div>
    <aside class="column is-3 is-narrow-mobile is-fullheight is-hidden-mobile">
        <div class="content has-text-centered is-unselectable">
            <img src="{{ site.baseurl }}/assets/logo/logo.svg" width="225" height="225" alt="{{ site.name }} logo" class="logo"/>
        </div>
        <nav class="panel is-unselectable">
            <p class="panel-heading is-size-6">
                Metadata
            </p>
            <div class="panel-block is-size-7">
                <span class="panel-icon">
                  <i class="fas fa-clock" aria-hidden="true"></i>
                </span>
                Reading time: ~{{ content | reading_time_as_i }}
            </div>
            <div class="panel-block is-size-7">
                <span class="panel-icon">
                  <i class="fas fa-calendar" aria-hidden="true"></i>
                </span>
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">Published: {{ page.date | date:"%Y/%m/%d" }}</time>
            </div>

            {% if page.last_modified_at %}
            <div class="panel-block is-size-7">
                <span class="panel-icon">
                  <i class="fas fa-calendar" aria-hidden="true"></i>
                </span>
                <time class="post-last-update-date" datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last update: {{ page.last_modified_at | date:"%Y/%m/%d" }}</time>
            </div>
            {% endif %}

            <div class="panel-block is-clipped">
                {% assign sortedTags = page.tags | sort %}
                {% include tags.html tags=sortedTags %}
            </div>
        </nav>
        <nav class="panel is-unselectable">{% include me.html %}</nav>
    </aside>
</section>

<section class="section">
    <div class="container">
        <div class="content">{% include disqus.html %}</div>
    </div>
</section>

<section class="section">
    <h1 class="title gradient-text">Discover more articles...</h1>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if page.previous.url %}
        <a class="pagination-previous" href="{{ site.baseurl }}/{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
        <a class="pagination-next" href="{{ site.baseurl }}/{{page.next.url}}">{{page.next.title}} &raquo; </a>
        {% endif %}
    </nav>
</section>
