---
title: "Tags"
layout: default
subtheme: sub-theme-simple-page
permalink: "/tags"
---
<h1 class="ui gradient-text">Tags</h1>

    {% for tag in site.tags  %}
    {% assign tag_size = tag[1].size %}
    {% assign tag_name = tag[0] %}
    {% if tag_size < 10 %} {% comment %} Add a '0' to the size section if size < 10. {% endcomment %}
    {% assign taglist = taglist | append: "0"|append: tag_size|append: ","|append: tag_name |append: "@" %}
    {% else %}
    {% assign taglist = taglist | append: tag_size|append: ","|append: tag_name |append: "@" %}
    {% endif %}
    {% endfor %}
    {% assign sorted_taglist = taglist | split: "@" |sort|reverse %}
    {% for sorted_tag in sorted_taglist %}
    {% assign sorted_tag_array = sorted_tag | split: "," %}
    {% if sorted_tag_array[0].size == 2 %}
    {% assign sorted_tag_size = sorted_tag_array[0] | slice: 1 %}
    {% endif %}
    {% endfor %}

    <div class="tags-expo-section">
        {% for sorted_tag in sorted_taglist %}
        {% assign sorted_tag_array = sorted_tag | split: "," %}
        {% if sorted_tag_array[0].size == 2 %}
        {% assign sorted_tag_size = sorted_tag_array[0] | slice: 1 %}
        {% endif %}
        <a href="/tag/{{ sorted_tag_array[1] | slugify }}/index.html" class="post-tag">
            <h2 id="{{ sorted_tag_array[1] | slugify }}">#{{sorted_tag_array[1]}} ({{sorted_tag_array[0] | slice: 1 }})</h2>
        </a>
        {% endfor %}
    </div>